:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #64c9ff;
  text-decoration: inherit;
}
a:hover {
  color: #64c9ff;
}

body {
  color: #fff;
  margin: 0;
  display: flex;
  min-width: 50vw;
  min-height: 100vh;
  justify-content: center;
  text-align: center;
  background-image: url("https://images.alphacoders.com/133/1330483.png");
  background-size: cover;
}
div#root {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  min-width: 50vw;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
label {
  color: #fff !important;
}
input,
span.ant-input-affix-wrapper {
  background: none !important;
  color: #fff !important;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0 10px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #64c9ff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* NAVBAR */
nav {
  /* background-color: #ffffff; */
  padding: 0 40px;
  border-bottom: 2px solid #ffffff30;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
nav li {
  padding: 0;
}
nav a {
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px 10px 20px;
  color: rgb(255, 255, 255);
}

nav li:has(.active) {
  box-shadow: rgba(206, 206, 206, 0.35) 0px -30px 36px -28px inset;
}
nav li:has(.active) a {
  color: #64c9ff;
}
nav li:hover {
  box-shadow: rgba(206, 206, 206, 0.35) 0px -50px 36px -28px inset;
}
@media (max-width: 500px) {
  nav {
    padding: 0;
  }
  nav ul {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
}
